html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    font-size: 10px;
}

div nav.nav-top button {
  padding: 25px;
  border-radius: 2rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
  margin-left: 12rem;
  margin-right: 12rem;
  color: white;
  border: 0rem;
  font-family: 'Roboto Mono', monospace;
  font-size:1.9rem;
  letter-spacing: .2rem;
}

nav.nav-top button.first-nav {
  background: #FF764E;
  width: 19rem;
}

nav.nav-top button.second-nav {
  background: #5ed3eb;
  width:20rem;
}

nav.nav-top button.third-nav {
  background: #ffcd69;
  width:19rem;
}

span.nexttoc img.headerimg {
    display: inline-block;
    border-radius: 50%;
    width: 25rem;
    margin: 2.5rem 10rem 5rem 6rem;
    float: left;
}

 span.nexttoc h1 {
    display: inline-block;
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Chelsea Market', cursive;
     font-size: 7rem;
 }

 p span.bold-one {
     font-weight: bold;
 }

span.nexttoc p {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: 0rem 0rem 2rem 5rem;
    font-family: 'Roboto Mono', monospace;
}

span.nexttoc p.nextp{
    display: block;
    width:65%;
    margin: 0rem 0rem 2rem 16rem;
    font-family: 'Roboto Mono', monospace;
}

div.info {
    display: inline-block;
    color: white;
    background: #DDB9A3;
    margin: 7rem 7rem 2rem 7rem;
    padding: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 2rem;
    text-align: center;
}

div.info p.info-secondp {
margin-top: 3rem;
}

div.fire img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14rem;
}

div.fire p {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

div.vehicle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14rem;
}


div.vehicle p {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 7rem;
}


   .footimg {
     background-image:url('assets/footer_img.jpg');
     width:144rem;
     padding-bottom:-34rem;
     padding-top:34rem;
     background-size: cover;
   }

.footnav button {
  padding: 2.6rem;
  border-radius: 2rem;
  margin-top: 10rem;
  margin-bottom: 6rem;
  margin-left: 12rem;
  margin-right: 16rem;
  color: white;
  border: 0rem;
  font-family: 'Roboto Mono', monospace;
  font-size:1.9rem;
  letter-spacing: .2rem;
  background-color: #F9E7DC;
}

div nav.footnav {
    background-color:#F9E7DC;
    width: 144rem;
}

nav.footnav button.first-nav {
    background: #FF764E;
    width: 19rem;
    display: inline-block;
 }
  
  nav.footnav button.second-nav {
    background: #5ed3eb;
    width:20rem;
    display: inline-block;
  }
  
  nav.footnav button.third-nav {
    background: #ffcd69;
    width:19rem;
    display: inline-block;
  }

